html {
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.selectable:hover {
  cursor: pointer;
}

.selectable:hover .building {
  fill: #C7BFB9;
  transition: all 0.4s ease infinite;
}

.selectable:hover .marker {
  fill: #FAFAFA;
  transition: all 0.4s ease infinite;
}

.selectable:hover .marker-title {
  fill: #4A4540;
  transition: all 0.4s ease infinite;
}

.selectable {
  transform-origin: left;
  transform-box:fill-box;
  animation: charge 0.2s ease infinite;
}

.selectable:hover{
  transform: scale(1.04);
}